.heading{
    background-color: black;
}
.details{
    background-color:blue ;
}

.concentration{
    background-color: blue;
}
.heading, .details, .concentration{
    text-align: center;
}
.concentration{
    list-style: none;
}
*{
   color: red; 
}
